node_modules/
.logs
.posting
.http
.idea
launch.json
.env
.env.dev
.env.bak
.env.local
.env.prod
.env.production
.volumes
.chats
.chat
.tmp
templates/my_template/
docker-compose.yml
./Dockerfile
./Dockerfile.workspace
